@import "tailwindcss";

@theme {
  /* Fonts */
  --font-gasoek-one: var(--font-gasoek-one);
  --font-roboto: var(--font-roboto);

  /* Colors */
  --color-primary: #6155f5;
  --color-green: #34c759;
  --color-yellow: #ffcc00;
  --color-dark-100: #383838;
  --color-dark-200: #1b1b1c;
  --color-dark-300: #131313;

  /* Breakpoints */
  --breakpoint-xs: 425px;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility large-title {
  @apply font-gasoek-one text-4xl sm:text-6xl lg:text-8xl;
}

@utility medium-title {
  @apply font-gasoek-one text-xl sm:text-3xl lg:text-5xl;
}

body {
  position: relative;
  background-color: var(--color-dark-300);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

#top-gradient::after {
  content: "";
  height: 250px;
  margin-inline: auto;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, #af33e4, #44009b, #2370ca);
  filter: blur(100px);
}

#label-gradient {
  background: linear-gradient(to right, #e59cff3d, #ba9cff3d, #9cb2ff3d);
}

#title-gradient {
  background: linear-gradient(to right, #714dff, #9c83ff, #e151ff, #fff759);
  -webkit-background-clip: text; /* For Chrome, Safari */
  -webkit-text-fill-color: transparent; /* Makes the text show the gradient */
}

#bottom-gradient::after {
  content: "";
  height: 500px;
  margin-inline: auto;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to left, #af33e4, #44009b, #2370ca);
  filter: blur(100px);
}
