@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  /* Fonts */
  --font-gasoek-one: var(--font-gasoek-one);
  --font-roboto: var(--font-roboto);

  /* Custom Colors */
  --color-green: #34c759;
  --color-yellow: #ffcc00;
  --color-dark-100: #383838;
  --color-dark-200: #1b1b1c;
  --color-dark-300: #131313;

  /* Breakpoints */
  --breakpoint-xs: 425px;

  /* Shadcn / System UI Variables */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --radius: 0.625rem;
    /* Dark Theme Variables */
    --background: var(--color-dark-300);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(55.95% 0.22966 279.318);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-roboto relative;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility large-title {
  @apply font-gasoek-one text-4xl sm:text-6xl lg:text-8xl;
}

@utility medium-title {
  @apply font-gasoek-one text-xl sm:text-3xl lg:text-5xl;
}

@utility radial-glow-logic {
  @apply absolute left-0 right-0 -z-10 mx-auto blur-[100px] content-[''];
}

#top-gradient::after {
  @apply radial-glow-logic;
  top: 0;
  height: 250px;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to right, #af33e4, #44009b, #2370ca);
}

#bottom-gradient::after {
  @apply radial-glow-logic;
  bottom: 0;
  height: 500px;
  border-radius: 50% 50% 0 0;
  background: linear-gradient(to left, #af33e4, #44009b, #2370ca);
}

#label-gradient {
  background: linear-gradient(to right, #e59cff3d, #ba9cff3d, #9cb2ff3d);
}

#title-gradient {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(
    to right,
    #714dff,
    #9c83ff,
    #e151ff,
    #fff759
  );
}
